{% extends "base.html" %}
{% load bootstrap4 %}

{% block header-footer %}
    <div class="container mx-auto" style="padding: 90px;">
        <h3>Password reset email send!</h3><br>
        <p>We've emailed you instructions for setting your new password, if an account exists with this email you
            entered, you will received it shortly.If it haven't arrived in a few minutes,
            please double check your email address is correct or check your spam folder.<hr>For your safety, don't
            share any email credential to unknown person.</p>
    </div>
{% endblock %}