{% extends "base.html" %}
{% load bootstrap4 %}

{% block header-footer %}
    <div class="container col-sm-4 mx-auto" style="margin: 90px;">
        {% if validlink %}
            <h3>Please enter and confirm your new password.</h3><br>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                        <td>{% bootstrap_form form %}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <br>
                        <td><input class="btn btn-outline-success" type="submit" value="Change my password"/></td>
                    </tr>
                </table>
            </form>
            </div>d
        {% else %}
            <div class="container-fluid">
                <h1>Password reset failed</h1><br>
                <p>The password reset link was invalid, possibly because it has already been used or you have entered
                    wrong email credential.
                <hr>
                Please request a new password reset <a href="{% url 'password_reset' %}">here</a>.</p>
            </div>
        {% endif %}
    </div>

{% endblock %}