{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header-footer %}

    <div class="container col-sm-4 mx-auto text-justify" style="margin: 90px;">
        <h3 align="center"><i class="fa fa-lock fa-4x"></i></h3>
        <form method="post">{% csrf_token %}
            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
            <h2 align="center">Forgot Password?</h2><br>
            <p>Please email address that you used when creating your account below, and we'll you email instructions for setting a new
                one.</p>
            <hr>
            {% bootstrap_form form %}<br>
            <input type="submit" class='btn' value="Reset password"/>
        </form>
    </div>

{% endblock %}