{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Change Account Info{% endblock title %}
{% block header-footer %}

    <div class="container mt-5 col-sm-5">
        <div class="card">
            <h5 class="card-header text-center">Edit user info</h5>
            <div class="card-body">
               <form action="." method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>

{% endblock header-footer %}