{% extends 'base.html' %}
{% load humanize %}

{% block header-footer %}
    <section class="jumbotron">
        <div class="row">
            <div class="col text-center">
                <a href="/discussions/new"><span class="btn btn-outline-primary btn-lg"><i class="fas fa-pencil-alt"></i> Need help? Add new discussion</span></a>
            </div>
        </div>
        </br>
        <form method="GET" class="container">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" name="q"
                           placeholder="Search for name, category, kewords" maxlength="130"
                           value="{{ request.GET.q }}" required/>
                </div>
            </div>
        </form>
        <div class="container text-center">
            {% for c in discussion_cat %}
                <a class="badge badge-light badge-pill" href="?category={{ c.category }}">{{ c.category.upper }}
{#                    <span class="badge">({{ c.category.count }})</span>#}
                </a>
            {% endfor %}
        </div>
    </section>
    {% if post %}
        <div class="container">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th scope="col">Discussions</th>
                <th scope="col">Views</th>
                <th scope="col">Upvote</th>
                <th scope="col">Created</th>
                <th scope="col">Category</th>
                <th scope="col">User</th>
                <th scope="col">Updated</th>
            </tr>
            </thead>
            <tbody>
            {% for d in post %}
                <tr>
                    <td><a href="{% url 'detail' title=d.slug %}">{{ d.title }}</a><br><br>{{ d.content|safe|slice:'160' }}..</td>
                    <td>{{ d.views|intcomma }}</td>
                    <td>{{ d.votes_count }}</td>
                    <td>{{ d.timestamp|date }}</td>
                    <td><a class="badge badge-secondary badge-pill"
                           href="/?category={{ d.category }}">{{ d.category }}</a></td>
                    <td><a href="?author={{ d.user }}"><img class="d-flex mr-3 rounded-circle" style="height: 2rem;" src="{{ d.user.profile.image.url }}" alt="{{ d.user }}"></a>
                    </td>
                    <td>{{ d.updated|timesince }} ago</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'paginator.html' %}
    {% else %}
        {% if request.GET %}
            <h4 class="text-center card-body">Sorry, no result found for "{{ request.GET.q }}"</h4>
        {% else %}
            <h4 class="container">Sorry, no previous results were found.<br><br>Create a new discussion <a href="{% url 'new_discussion' %}">thread</a>?</h4>
        {% endif %}
    {% endif %}
</div>

{% endblock %}