{% extends 'base.html' %}

{% block header-footer %}
    <div class="container">
        <div class="row my-3 mb-5">
            <div class="col-md-4">
                <img class="img-fluid rounded-circle w-75 p-3" src="{{ user.profile.image.url }}" alt="{{ user }}">
                    <div></br>
                    <a class="btn btn-light" href="{% url 'image_update' %}" role="button">Change Picture</a>
                    <a class="btn btn-light" href="{% url 'edit_account' %}" role="button">Edit profile info</a><hr>
                    </div>
                    <h5 class="font-weight-bold">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="blockquote-footer">Logged in since {{ user.last_login|timesince }} ago</p><br>
                    <p><strong>User ID:</strong> {{ user.id }}</p>
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email: </strong>{% if user.email %}{{ user.email }}{% else %}N/A{% endif %}</p>
                    <p><strong>Joined:</strong> {{ user.date_joined|date }}</p>
            </div>
            {% if post %}
            <div class="col-md-8 mb-5">
                <div class="card">
                    <h5 class="card-header text-center card-body">Your latest posts</h5>
                </div>
                {% for discussion in post %}
                    <div class="row mt-4">
                        <div class="col-lg-8 col-md-10 mx-auto card-text">
                            <a href="{% url 'detail' title=discussion.slug %}"><h2
                                    class="post-title">{{ discussion.title }}</h2></a>
                            <div class="post-meta">Updated: {{ discussion.updated|timesince }}</div>
                            <td>
                                <a class="btn btn-outline-secondary btn-sm"
                                   href="{% url 'discussion_update' discussion.slug %}" role="button">Edit</a>
                                <a class="btn btn-outline-danger btn-sm"
                                   href="{% url 'discussion_delete' discussion.slug %}" role="button">Delete</a>
                            </td>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
            </div>
                {% include 'paginator.html' %}
            {% else %}
                <p class="card-body">It looks like you haven't created any posts. <a href="{% url 'new_discussion' %}">Create new discussion?</a></p>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
{% endblock header-footer %}
